<%= form_for @address, :url => address_index_path, :remote => true, :html => {:class => 'checkout disableable', :id=> 'address-form'} do |f| %>
    <%= f.error_messages %>
    <div class="customer">
      <%= field_set_tag do %>
          <%= render partial: "shared/address_form" , :locals => {:field => f } %>
      <input  type="submit" name="commit" value="Agregar dirección">

      <% end %>
    </div>
<% end %>
