var $addressListInputItems = $("#addresses-list input");
var addressListInputItemslength = $addressListInputItems.length+1;
var inputRadio = $(document.createElement('input')).attr({
  type: "radio",
  name: "addresses",
  value:"<%= @address.id %>",
  id: "radio"+addressListInputItemslength
});
var labelRadio = $(document.createElement('label')).attr({
  for: "radio"+addressListInputItemslength
}).append(inputRadio).append("<%= @address.full_address%>");

var divAddressEach = $(document.createElement('div')).addClass("address-each radio")
    .append(labelRadio);

$("#addresses-list").append(divAddressEach);


/*
*  Structure
* <div class="address-each radio">
 <label for="radio1">
 <input type="radio" name="addresses" value="32" id="radio1" checked="checked">
 Calle1, , Bogotá, Bogotá D.C., 4-72, Colombia
 </label>
 </div>
* */