<div class="container-fluid">
  <div class="row intro">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 col-xs-12">
      <h2></h2>

      <div id="cookie-tracker">
        <p>
          Igrese su número de orden para ver averiguar el
        </p>
        <p>
          estado de sus galletas
        </p>

        <%= form_tag cookie_tracker_path, method: :post, remote: true  do %>
            <%= label_tag 'cookie-number', 'Número de orden' %>   <br>
            <%=  number_field_tag 'cookie-number', '0', class: 'special_input'  %><br><br>
            <%= submit_tag "Buscar" ,class: "btn btn-warning"%>
        <% end %>

      </div>
    </div>
  </div>
</div>