<p class="submit">
  <%= link_to "Volver", orders_index_path, class: "txt-link", method: :get, remote: true  %>
  <br>
  <%= link_to "¿Olvidaste tu contraseña?", new_password_reset_path, class: "txt-link"%>
</p>