<h1>Compra Exitosa</h1>
<h2>Tu orden #<%= order_number %> se realizó con exito. Te hemos enviado un email con la información. También puedes revizar el cookie tracker para ver el estado</h2>
<br>

<%= link_to "Volver al home", root_path %>

