<div id="customer-user" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: 'customers_users/new', locals: {p_field: true} %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <%= render partial: 'address/new', locals: { :@address =>  @address }  %>
          </div>
          <div class="col-sm-12">
            <%= render partial: 'address/delete' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <%= button_to "Eliminarme", @customers_user,  method: :delete,  data: { confirm: " ¿Eliminar tu cuenta?" }, class: "btn btg-lg btn-block btn-danger" %>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
