// -------------------------------  WEBFONTS
@font-face {
    font-family: 'modeliaheavy';
    src: font-url('modelia-heavy-webfont.eot');
    src: font-url('modelia-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('modelia-heavy-webfont.woff2') format('woff2'),
         font-url('modelia-heavy-webfont.woff') format('woff'),
         font-url('modelia-heavy-webfont.ttf') format('truetype'),
         font-url('modelia-heavy-webfont.svg#modeliaheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lane_-_narrowregular';
    src: font-url('LANENAR_-webfont.eot');
    src: font-url('LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('LANENAR_-webfont.woff') format('woff'),
         font-url('LANENAR_-webfont.ttf') format('truetype'),
         font-url('LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// -------------------------------  EFFECTS
@mixin effect_color {
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
@mixin effect_opacity {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@mixin effect_bg {
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}


// -------------------------------  MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point == xl {
        @media (max-width: 1365px) { @content; }
    }
    @else if $point == lrg {
        @media (max-width: 1199px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 991px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 850px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 550px)  { @content; }
    }
    @else if $point == xxs {
        @media (max-width: 400px)  { @content; }
    }
}


// -------------------------------  MAIN
.custom {
  background: #27b1e2;
  font-family: 'lane_-_narrowregular', sans-serif;
  letter-spacing: 3px;
  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }
  .txt-fat {
    font-family: 'modeliaheavy', sans-serif;
    letter-spacing: 0;
  }
  .txt-orange {
    color: #f94406;
  }
  .txt-link {
    color: #f94406;
    text-decoration: underline;
    @include effect_color;
    &:hover {
      @include effect_color;
      color: #27b1e2;
      text-decoration: underline;
    }
  }
  .btn-default {
    background: #f94406;
    color: #fff;
    @include effect_bg;
    &:hover, :active {
      @include effect_bg;
      background: #27b1e2;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }

  // navbar
  .navbar {
    padding: 20px 75px;
    background: rgba(39, 177, 226, 0.9);
    .active {
      a {
        background: #058baa;
        border-radius: 25px;
      }
    }
    .menu-link {
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        border-radius: 25px;
        @include effect_bg;
        &:hover, &:active, &:focus {
          @include effect_bg;
          background: #058baa;
        }
      }
    }
  }
  .navbar-brand {
    height: 58px;
    padding: 0;
    width: 262px;
    @include effect_opacity;
      &:hover, &:active, &:focus {
        @include effect_opacity;
        opacity: 0.8;
      }
    img {
      width: 100%;
    }
  }
  .navbar-left {
    .icon {
      width: 60px;
      display: block;
      svg {
        &:hover path, :active path {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
        }
      }
    }
  }
  .navbar-right {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    .icon {
      width: 32px;
      display: inline-block;
      svg {
        &:hover path, &:active path, &:focus path {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
        }
      }
    }
    .icon-link {
      padding-top: 8px;
      padding-bottom: 0;
    }
  }
  // basket
  .basket-number-items {
    text-align: center;
    padding-bottom: 15px;
  }
  .basket-container {
    padding: 15px;
    width: 300px;
  }
  .basket-item {
    border-top: 1px dashed #ebeaea;
    font-size: 0.9em;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .basket-items-info {
    max-height: 120px;
    overflow-y: scroll;
  }
  .basket-checkout {
    border-top: 1px solid #ebeaea;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    .basket-total-value {
      padding-bottom: 15px;
      border-bottom: 1px solid #ebeaea;
      margin-bottom: 15px;
      font-size: 1.286em;
      color: #f94406;
    }
    .basket-order {
      .btn-order {
        font-size: 1.6em;
        padding: 10px 20px;
      }
    }
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: transparent;
    .icon {
      .st5 {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
      }
    }
  }
  // intro
  .intro {
    padding-top: 200px;
    padding-bottom: 90px;
    .text-intro {
      font-size: 1.500em;
      width: 350px;
      color: #fff;
      line-height: 1.7em;
    }
    .txt-fat {
      color: #363635;
      font-size: 44px;
      line-height: 0;
      padding-right: 10px;
    }
  }
  // how to order
  .how-to-order {
    .col-md-3 {
      border-right: solid 1px #F94406;
      height: 200px;
      &:last-child {
        border: 0;
      }
    }
    .txt-fat {
      font-size: 2.857em;
      display: block;
    }
    .txt-orange {
      margin-top: 40px;
    }
    .img-container {
      height: 100px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .img-online {
      width: 148px;
    }
    .img-arrow {
      width: 44px;
    }
    .img-phone {
      width: 79px;
    }
    .img-app {
      width: 58px;
    }
    .os {
      text-align: center;
    }
    .img-ios {
      width: 35px;
      display: inline-block;
    }
    .img-android {
      width: 35px;
      display: inline-block;
    }
    .icon {
      @include effect_opacity;
      &:hover, &:active, &:focus {
        @include effect_opacity;
        opacity: 0.8;
      }
    }
  }
  // products
  .container-products {
    padding-top: 100px;
    background: #fff;
  }
  .products {
    color: #363635;
    input[type="number"] {
      height: 40px;
      padding-left: 10px;
      width: 50px;
      border: 1px solid #f94406;
    }
  }
  .product-image {
    height: 250px;
    width: 250px;
    background-size: cover;
    backround: no-repeat;
    margin: 0 auto;
  }
  .product-item {
    margin: 50px auto;
    text-align: center;
    width: 75%;
  }
  .product-name {
    font-size: 2.5em;
    height: 42px;
    overflow: hidden;
  }
  .product-info {
    font-size: 1.286em;
    height: 100px;
    overflow: hidden;
  }
  .product-quantity {
    text-transform: uppercase;
    color: #f94406;
    font-size: 1.286em;
  }
  .product-buttons {
    overflow: hidden;
    .product-quantity-container {
      display: inline-block;
    }
  }
  .product-buttons > * {
    vertical-align: middle;
    line-height: normal;
  }
  .product-add {
    width: 50px;
    border: 0;
    background: transparent;
    display: inline-block;
    &:hover path, :active path {
      cursor: pointer;
      -webkit-transition: fill .4s ease;
      -moz-transition: fill .4s ease;
      -o-transition: fill .4s ease;
      transition: fill .4s ease;
      fill:#27b1e2;
    }
  }
  .product-order {
    font-size: 2em;
    text-align: center;
  }
  .btn-order {
    border-radius: 40px;
    padding: 15px 30px;
    display: inline-block;
  }
  // gallery
  .bg-gallery {
    background: #fff;
    img {
      width: 100%;
    }
  }
  .gallery {
    background-color: #fff;
    overflow: hidden;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .bx-wrapper {
      background: transparent;
      border: 0;
      box-shadow: none;
      margin-bottom: 0;
    }
    .bx-prev {
      background-image: image-url("controls.png")
    }
    .bx-next {
      background-image: image-url("controls.png")
    }
  }
  .slides {
    background: #eae9e4;
    padding-top: 100px;
  }

  // footer
  footer {
    background: #363635;
    color: #FDFCF4;
    padding: 20px 0;
    .logo-footer {
      width: 181px;
      margin: 20px auto;
      img {
        width: 100%;
      }
    }
  }
  
}

a {
  color: whitesmoke;
  :hover {
    color: #eeeeee;
  }
}