// -------------------------------  WEBFONTS
@font-face {
    font-family: 'lumberjackrough';
    src: url('lumberjack_rough-webfont.woff2') format('woff2'),
         url('lumberjack_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lumberjackregular';
    src: url('lumberjack-webfont.woff2') format('woff2'),
         url('lumberjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


// -------------------------------  EFFECTS
@mixin effect_color {
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
@mixin effect_opacity {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@mixin effect_bg {
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}


// -------------------------------  MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point == xl {
        @media (max-width: 1365px) { @content; }
    }
    @else if $point == lrg {
        @media (max-width: 1199px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 991px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 850px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 550px)  { @content; }
    }
    @else if $point == xxs {
        @media (max-width: 400px)  { @content; }
    }
}


// -------------------------------  MAIN
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-size: 13px;
}
.custom {
  background: #27b1e2;
  font-family: 'lumberjackregular', sans-serif;
  letter-spacing: 3px;
  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }
  .sweet-alert {
    font-family: 'lumberjackregular', sans-serif;
    h1 {
      font-family: 'lumberjackrough', sans-serif;
    }
    h2 {
      font-family: 'lumberjackrough', sans-serif;
    }
  }
  .txt-fat {
    font-family: 'lumberjackrough', sans-serif;
    letter-spacing: 0;
  }
  .txt-orange {
    color: #f94406;
  }
  .txt-blue {
    color: #27B1E2;
  }
  .txt-link {
    color: #f94406;
    text-decoration: underline;
    @include effect_color;
    &:hover {
      @include effect_color;
      color: #27b1e2;
      text-decoration: underline;
    }
  }
  .txt-right {
    text-align: right;
  }
  .btn-default {
    background: #f94406;
    color: #fff;
    border: 0;
    @include effect_bg;
    &:hover, &:active, &:focus {
      @include effect_bg;
      background: #27b1e2;
    }
  }
  .btn-checkout {
    background: #bf271f;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  label {
    font-weight: normal;
  }
  input {
    background: #ddd;
    border: 0;
    border-radius: 5px;
  }
  textarea {
    background: #ddd;
    border: 0;
    border-radius: 5px;
  }


  // navbar
  .navbar {
    padding: 20px 75px;
    background: rgba(39, 177, 226, 0.9);
    @include breakpoint(lrg) { 
      padding: 20px;
    } 
    .navbar-toggle {
      @include effect_bg;
      &:hover, &:active, &:focus {
        background: #058baa;
        @include effect_bg;
      }
      .icon-bar {
        background: #fff;
      }
    }
    .active {
      a {
        background: #058baa;
        border-radius: 25px;
      }
    }
    .menu-link {
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        border-radius: 25px;
        @include effect_bg;
        @include breakpoint(md) { 
          display: inline-block;
        } 
        &:hover, &:active, &:focus {
          @include effect_bg;
          background: #058baa;
        }
      }
    }
  }
  .navbar-brand {
    height: 75px;
    padding: 0;
    @include effect_opacity;
      &:hover, &:active, &:focus {
        @include effect_opacity;
        opacity: 0.8;
      }
    img {
      width: 95px;
    }
  }
  .navbar-left {
    .icon {
      width: 60px;
      display: block;
      svg {
        &:hover path, :active path {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
        }
      }
    }
  }
  .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-right {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    @include breakpoint(md) { 
      position: relative;
      border: 0;
    } 
    .icon {
      width: 32px;
      display: inline-block;
      svg {
        &:hover path, &:active path, &:focus path {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
        }
      }
    }
    .icon-link {
      padding-top: 8px;
      padding-bottom: 0;
      @include breakpoint(md) { 
        display: inline-block;
        padding-right: 0;
      } 
    }
    .icons-menu {
      @include breakpoint(md) { 
        display: inline-block;
      } 
    }
    .cart {
      @include breakpoint(md) { 
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }
    }
  }
  // basket
  .basket-number-items {
    text-align: center;
    padding-bottom: 15px;
  }
  .basket-container {
    padding: 15px;
    width: 300px;
    @include breakpoint(md) { 
      background: #fff;
      border-radius: 20px;
    }
    @include breakpoint(xxs) { 
      width: 250px;
    }
  }
  .basket-item {
    border-top: 1px dashed #ebeaea;
    font-size: 0.9em;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .basket-items-info {
    max-height: 120px;
    overflow-y: scroll;
  }
  .basket-checkout {
    border-top: 1px solid #ebeaea;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    .basket-total-value {
      padding-bottom: 15px;
      border-bottom: 1px solid #ebeaea;
      margin-bottom: 15px;
      font-size: 1.286em;
      color: #27B1E2;
    }
    .basket-order {
      .btn-order {
        font-size: 1.6em;
        padding: 10px 20px;
      }
    }
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: transparent;
    @include breakpoint(md) { 
      color: #fff;
    }
    .icon {
      .st5 {
          -webkit-transition: fill .4s ease;
          -moz-transition: fill .4s ease;
          -o-transition: fill .4s ease;
          transition: fill .4s ease;
          fill:#f94406;
      }
    }
  }
  .navbar-nav .open .dropdown-menu > li > a {
    @include breakpoint(md) { 
      color: #fff;
      display: inline-block;
      @include effect_color;
      &:hover, &:focus, &:active {
        @include effect_color;
        background: transparent;
        color: #058baa;
      }
    }
  }
  // intro
  .intro {
    padding-top: 200px;
    padding-bottom: 90px;
    position: relative;
    min-height: 950px;
    @include breakpoint(lrg) { 
      min-height: 0;
      padding-bottom: 0;
    }
    @include breakpoint(xs) { 
      min-height: 400px;
    }
    @include breakpoint(xxs) { 
      min-height: 500px;
    }
    .logo-container {
      top: 100px !important;
      left: 50%;
      margin-left: -167px;
      width: 335px;
      img {
        width: 100%;
      }
    }
    .text-intro {
      font-size: 1.2em;
      width: 350px;
      color: #fff;
      line-height: 1.6em;
      z-index: 7;
      padding-left: 20px;
      @include breakpoint(md) { 
        width: 100%;
      }
      @include breakpoint(sm) { 
        font-size: 1.2em;
      }
      p {
        top: 60px !important;
        width: 30%;
        @include breakpoint(md) { 
          width: 100%;
        }
      }
    }
    .txt-fat {
      color: #363635;
      font-size: 44px;
      line-height: 0;
      padding-right: 10px;
    }
  }
  .gimmicks-responsive {
    @include breakpoint(xs) { 
      display: none;
    }
    img {
      width: 100%;
    }
  }
  .gimmicks {
    .cloud-1 {
      z-index: 7;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .cloud-2 {
      z-index: 5;
      position: absolute;
      top: 275px !important;
      left: 0;
      width: 100%;
      img {
        width: 100%;
      }
      @include breakpoint(sm) { 
        top: 405px !important;
      }
    }
    .cookie-1 {
      left: 100px;
      position: absolute;
      z-index: 6;
      top: 415px !important;
    }
    .cloud-3 {
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 250px !important;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .cookie-2 {
      position: absolute;
      right: 180px;
      z-index: 3;
      top: 415px !important;
      @include breakpoint(md) { 
        right: 10%;
      }
      @include breakpoint(xs) { 
        display: none;
      }
    }
    .cloud-4 {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 100px !important;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  // how to order
  .how-to-order {
    .how {
      border-right: solid 1px #F94406;
      height: 200px;
      @include breakpoint(md) { 
        border: 0;
      }
      @include breakpoint(xxs) { 
        width: 100%;
        float: none;
      }
      &:last-child {
        border: 0;
      }
    }
    .col-md-3 {
      border-right: solid 1px #F94406;
      height: 200px;
      @include breakpoint(md) { 
        border: 0;
      }
      @include breakpoint(xxs) { 
        width: 100%;
        float: none;
      }
      &:last-child {
        border: 0;
      }
    }
    .txt-fat {
      font-size: 2.5em;
      &.txt-small {
        font-size: 2em;
      }
    }
    .img-container {
      height: 85px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    p {
      margin-bottom: 5px;
    }
    a {
      color: #f94406;
    }
    .img-online {
      width: 120px;
    }
    .img-arrow {
      width: 34px;
    }
    .img-phone {
      width: 69px;
    }
    .img-app {
      width: 48px;
    }
    .img-requests {
      width: 100px;
    }
    .os {
      text-align: center;
    }
    .img-ios {
      width: 30px;
      display: inline-block;
      @include breakpoint(md) { 
        height: auto;
      }
    }
    .img-android {
      width: 30px;
      display: inline-block;
      @include breakpoint(md) { 
        height: auto;
      }
    }
    .wp {
      @include breakpoint(xs) { 
        margin-bottom: 50px;
      }
    }
    .icon {
      @include effect_opacity;
      &:hover, &:active, &:focus {
        @include effect_opacity;
        opacity: 0.8;
      }
    }
  }
  // products
  .container-products {
    padding-top: 100px;
    background: #FDFCF4;
    position: relative;
    z-index: 5;
    .container-clouds {
      @include breakpoint(md) { 
        display: none;
      }
    }
    .cloud-5 {
      z-index: 0;
      top: 900px !important;
      left: -100px;
    }
    .cloud-6 {
      z-index: 0;
      top: 850px !important;
      left: 100px;
    }
    .cloud-7 {
      z-index: 0;
      top: 900px !important;
      right: -100px;
    }
    .cloud-8 {
      z-index: 0;
      top: 850px !important;
      right: 100px;
    }
  }
  .products {
    color: #363635;
    input[type="number"] {
      height: 40px;
      padding-left: 10px;
      width: 50px;
      border: 1px solid #f94406;
    }
  }
  .product-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    backround: no-repeat;
    margin: 0 auto;
  }
  .product-item {
    margin: 50px auto;
    text-align: center;
    width: 75%;
    @include breakpoint(sm) { 
      margin-bottom: 75px;
    }
  }
  .product-name {
    font-size: 1.8em;
    height: 35px;
    overflow: hidden;
    margin-top: 20px;
  }
  .product-info {
    font-size: 1.1em;
    height: 100px;
    overflow: hidden;
    @include breakpoint(sm) { 
      height: 70px;
    }
    @include breakpoint(xs) { 
      height: auto;
    }
  }
  .product-quantity {
    text-transform: uppercase;
    color: #f94406;
    font-size: 1.286em;
  }
  .product-buttons {
    overflow: hidden;
    .product-quantity-container {
      display: inline-block;
    }
  }
  .product-buttons > * {
    vertical-align: middle;
    line-height: normal;
  }
  .product-add {
    width: 50px;
    border: 0;
    background: transparent;
    display: inline-block;
    &:hover path, :active path {
      cursor: pointer;
      -webkit-transition: fill .4s ease;
      -moz-transition: fill .4s ease;
      -o-transition: fill .4s ease;
      transition: fill .4s ease;
      fill:#27b1e2;
    }
  }
  .product-order {
    font-size: 2em;
    text-align: center;
  }
  .btn-order {
    border-radius: 40px;
    padding: 15px 30px;
    display: inline-block;
  }
  .cloud-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 195px;
  }
  // gallery
  .bg-gallery {
    background: #FDFCF4;
    img {
      width: 100%;
    }
  }
  .gallery {
    background-color: #EAE9E4;
    overflow: hidden;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .bx-wrapper {
      background: transparent;
      border: 0;
      box-shadow: none;
      margin-bottom: 0;
      img {
        width: 100%;
      }
      .bx-prev {
      background-image: image-url("icon-left.png");
      background-repeat: no-repeat;
      background-position: center;
        &:hover {
          background-image: image-url("icon-left-hover.png");
        }
      }
      .bx-next {
        background-image: image-url("icon-right.png");
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background-image: image-url("icon-right-hover.png");
        }
      }
    }
    .bx-wrapper .bx-controls-direction a {
      height: 63px;
      width: 63px;
    }
  }
  .slides {
    background: #eae9e4;
    padding-top: 100px;
    padding-bottom: 70px;
  }

  // footer
  footer {
    background: #363635;
    color: #FDFCF4;
    padding: 20px 0;
    .logo-footer {
      width: 181px;
      margin: 20px auto;
      img {
        width: 100%;
      }
    }
  }

  // checkout
  .checkout- {
    background: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
    h1 {
      color: #27B1E2;
      font-size: 2.5em;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .order-notice {
      margin-bottom: 20px;
      p {
        font-size: 1.286em;
      }
    }
    .col-md-7 {
      @include breakpoint(md) { 
        margin-bottom: 50px;
      }
    }
    .order-confirmation-container {
      border: solid 1px #27b1e2;
      padding: 30px;
      background: rgba(255,255,255,0.8);
    }
    .the-total {
      font-size: 1.286em;
      color: #27B1E2;
    }
    .quantity {
      text-align: center;
      overflow: hidden;
    }
    .modify-order {
      text-align: right;
    }
    .operators {
      float: right;
    }
    .icon-operation {
      border: 1px solid #f94406;
      border-radius: 50%;
      color: #f94406;
      display: inline-block;
      font-size: 1.2em;
      height: 16px;
      letter-spacing: 0;
      line-height: 1em;
      margin-right: 5px;
      text-align: center;
      width: 16px;
      background: #fff;
      @include effect_bg;
      &:hover {
        @include effect_bg;
        background: #f94406;
        color: #fff;
      }
    }
    .order-address-container {
      border: solid 1px #27b1e2;
      padding: 30px;
      background: rgba(255,255,255,0.8);
      min-height: 585px;
    }
    .order-express-checkout {
      border-bottom: solid 1px #ddd;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .order-create-account {
      border-bottom: solid 1px #ddd;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .order-login-container {
      overflow: hidden;
    }
    .order-regular-login {
      float: left;
    }
    .order-facebook-login {
      float: left;
    }
    .btn-default {
      border-radius: 40px;
      padding: 10px 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
      display: inline-block;
    }
    .btn-facebook {
      background: #3b5998;
      margin-left: 20px;
    }
    .btn-order-container {
      text-align: right;
    }
    .btn-checkout {
      margin-top: 30px;
    }
    .customer {
      .txt-link {
        margin: 10px 0;
        padding: 0;
      }
    }
    .add-address {
      text-align: right;
    }
    .addresses-list {
      border-top: 1px solid #ddd;
      margin-top: 20px;
      padding-top: 20px;
    }
    .address-each {
      background: #f9f9f9;
      margin-bottom: 1px;
      padding: 15px;
      border: 1px solid #ddd;
      font-size: 0.9em;
      .radio {
        margin-bottom: 0;
      }
    }
    .bigcloud-1 {
      animation: bobble 2s infinite;
      margin-left: 100px;
      margin-top: -20px;
      position: absolute;
    }
    .smallcloud-1 {
        animation: bobble 4s infinite;
        margin-top: 0px;
        margin-left: -15px;
        position: absolute;
    }
    .bigcloud-2 {
        animation: bobble 2s infinite;
        margin-left: 70%;
        margin-top: -20px;
        position: absolute;
    }
    .smallcloud-2 {
        animation: bobble 4s infinite;
        margin-top: 0px;
        margin-left: 85%;
        position: absolute;
    }
    @keyframes bobble {
        0% {
            transform: translate3d(50px, 40px, 0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translate3d(50px, 50px, 0px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translate3d(50px, 40px, 0px);
        }
    }
  }
  .checkout {
    .txt-link {
      letter-spacing: 3px;
      background: transparent;
    }
  }
  #limit {
    position: relative;
    overflow: hidden;
  }
  .checkout-successful {
    background: #fff;
    .cloud-container {
      height: 300px;
    }
    .success-info {
      padding-top: 150px;
      padding-bottom: 100px;
    }
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.286em;
      margin: 20px 0;
    }
    .btn-default {
      border-radius: 40px;
      padding: 15px 30px;
      display: inline-block;
      font-size: 1.6em;
      margin-top: 30px;
    }
    .bigcloud-1 {
      animation: bobble 2s infinite;
      margin-left: 100px;
      margin-top: 100px;
      position: absolute;
    }
    .smallcloud-1 {
        animation: bobble 4s infinite;
        margin-top: 115px;
        margin-left: -15px;
        position: absolute;
    }
    .bigcloud-2 {
        animation: bobble 2s infinite;
        margin-left: 70%;
        margin-top: 100px;
        position: absolute;
    }
    .smallcloud-2 {
        animation: bobble 4s infinite;
        margin-top: 115px;
        margin-left: 85%;
        position: absolute;
    }
    @keyframes bobble {
        0% {
            transform: translate3d(50px, 40px, 0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translate3d(50px, 50px, 0px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translate3d(50px, 40px, 0px);
        }
    }
  }
  // account edit
  .account-edit {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 100px;
    padding-top: 150px;
    .cloud-container {
      height: 300px;
    }
    .account-welcome {
      margin-bottom: 30px;
      p {
        font-size: 1.286em;
      }
    }
    .account-edit-info {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #27b1e2;
      padding: 30px;
      .actions {
        text-align: right;
      }
      .btn-default {
        border-radius: 40px;
        display: inline-block;
        letter-spacing: 3px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 20px;
        text-transform: uppercase;
      }
      .txt-link {
        display: none;
      }
    }
    .account-edit-addresses {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #27b1e2;
      padding: 30px;
      overflow: hidden;
    }
    .account-delete {
      margin-top: 50px;
      .btn-default {
        border-radius: 40px;
        display: inline-block;
        letter-spacing: 3px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 20px;
        text-transform: uppercase;
        background: #bf271f;
        &:hover, &:active, &:focus {
          @include effect_bg;
          background: #27b1e2;
        }
      }
    }
    h2 {
      color: #27b1e2;
      text-align: center;
      margin-top: 0;
      margin-bottom: 25px;
    }
    h3 {
      color: #27b1e2;
    }
    .each-address {
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #ddd;
      &:last-child {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .add-address {
        overflow: hidden;
      }
      .button_to {
        text-align: right;
      }
      .txt-link {
         background: transparent;
         letter-spacing: 3px;
      }
      .btn-default {
        float: right;
      }
    }
    .bigcloud-1 {
      animation: bobble 2s infinite;
      margin-left: 100px;
      margin-top: 100px;
      position: absolute;
    }
    .smallcloud-1 {
        animation: bobble 4s infinite;
        margin-top: 115px;
        margin-left: -15px;
        position: absolute;
    }
    .bigcloud-2 {
        animation: bobble 2s infinite;
        margin-left: 70%;
        margin-top: 100px;
        position: absolute;
    }
    .smallcloud-2 {
        animation: bobble 4s infinite;
        margin-top: 115px;
        margin-left: 85%;
        position: absolute;
    }
    @keyframes bobble {
        0% {
            transform: translate3d(50px, 40px, 0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translate3d(50px, 50px, 0px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translate3d(50px, 40px, 0px);
        }
    }
    .col-md-5 {
      @include breakpoint(sm) { 
        margin-bottom: 70px;
      }
    }
  }

  // cookie tracker
  .container-cookie-tracker {
    z-index: 2;
    position: relative;
  }
  .cookie-tracker {
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 30px;
    margin-top: 150px;
    margin-bottom: 230px;
    .form-control {
      width: 200px;
      margin: 0 auto;
    }
    .btn-default {
      border-radius: 40px;
      padding: 15px 30px;
      display: inline-block;
      font-size: 1.6em;
      margin-top: 30px;
    }
  }
  .cookie-tracker-gimmicks {
    position: relative;
    z-index: 1;
    .cookie-tracker-clouds {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      img {
        width: 100%;
      }
    }
    .cookie-1 {
      left: 100px;
      position: absolute;
      z-index: 0;
      top: -20px !important;
      @include breakpoint(md) { 
        top: -340px !important;
      }
    }
    .cookie-2 {
      position: absolute;
      right: 180px;
      z-index: 0;
      top: 300px !important;
      @include breakpoint(md) { 
        top: -175px !important;
      }
    }
  }
  .cookie-tracker-steps {
    background: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-steps {
      margin-bottom: 30px;
      .txt-fat {
        font-size: 2.5em;
      }
      p {
        font-size: 1.286em;
      }
    }
    .steps {
      border-right: solid 1px #ebeaea;
      &:last-child {
        border-right: 0;
      }
      .txt-fat {
        padding-bottom: 30px;
        font-size: 2.5em;
      }
    }
    .caption-steps {
      padding: 20px 0;
      font-size: 1.286em;
    }
    .img-steps {
      img {
        border: solid 1px #fff;
      }
    }
    .btn-default {
      border-radius: 40px;
      padding: 15px 30px;
      display: inline-block;
      font-size: 1.6em;
      margin-top: 50px;
    }
  }
  .bigcloud-1 {
      animation: bobble 2s infinite;
      margin-left: 100px;
      margin-top: 15px;
      position: absolute;
  }
  .smallcloud-1 {
      animation: bobble 4s infinite;
      margin-top: 65px;
      margin-left: -15px;
      position: absolute;
  }
  .bigcloud-2 {
      animation: bobble 2s infinite;
      margin-left: 70%;
      margin-top: 15px;
      position: absolute;
  }
  .smallcloud-2 {
      animation: bobble 4s infinite;
      margin-top: 65px;
      margin-left: 85%;
      position: absolute;
  }
  @keyframes bobble {
      0% {
          transform: translate3d(50px, 40px, 0px);
          animation-timing-function: ease-in;
      }
      50% {
          transform: translate3d(50px, 50px, 0px);
          animation-timing-function: ease-out;
      }
      100% {
          transform: translate3d(50px, 40px, 0px);
      }
  }
  .overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
  }
  .spinner {
    height: 40px;
    left: 50%;
    margin-left: -20px;
    position: relative;
    top: 200px;
    width: 40px;
    z-index: 9999;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f94406;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}

a {
  color: whitesmoke;
  @include effect_color;
  :hover {
    color: #eeeeee;
    @include effect_color;
  }
}
