<% @full_header = true %>
<% @page_title = 'Welcome' %>
<div class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="logo-intro">
          <%= image_tag("logo-soul-cookies.png", class: "") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-intro">
          <p><span class="txt-fat">Somos</span> una fábrica de galletas. Nos dedicamos diariamente a hornear frescos y suavecitos pedazos de felicidad, hechos con el alma y los mejores ingredientes, entregados en la puerta de tu casa o tu empresa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="basket-modal" style="border:1px solid black;padding:10px;">
<%= render 'shared/basket', :products => @products %>
</div>
<%= render 'shared/products_list', :products => @products %>


<div class="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 slides">
        <ul class="bxslider">
          <li>Slide one content</li>
          <li>Slide two content</li>
          <li>Slide three content</li>
          <li>And so on...</li>
        </ul>
      </div><!-- /col-md-12 -->
    </div><!-- /row -->
  </div><!-- /container-fluid -->
</div><!-- /gallery -->