<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="logo-footer">
					<%= image_tag("logo-footer-soul-cookies@2x.png", alt: "Soul Cookies") %>
				</div>
				<span>Soul Cookies 2016 Todos los derechos reservados.</span>
			</div>
		</div>
	</div>
</footer>