<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="logo-footer">
					<%= image_tag("logo-footer-soul-cookies@2x.png", alt: "Soul Cookies") %>
				</div>
				<span>Soul Cookies 2016 Todos los derechos reservados.</span>
				<span class="credits">Desarrollo sitio web y aplicación: <a href="https://github.com/jasmo2" target="_blank">jasmo2</a> y <a href="http://heyjoe.com.co/" target="_blank">hey joe</a></span>
			</div>
		</div>
	</div>
</footer>